:root{
    /*Predefined variables. Palette.*/
    --bright-orange:#E1700E;
    --cyslamen:#C30E60;
    --kinda-black:#151515;
    --black:#000;
    --base-gradient: linear-gradient(285deg, #C30E60, #E1700E);

    --fonts-base: 'Roboto', sans-serif, 'Arial', sans-serif;
    --fonts-size-nav: 1.8rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--fonts-base);
}

/*Navigation bar style*/
.navbar-custom{
    background-color: var(--kinda-black);
    display: block;
    z-index: 1020;
    width: 100%;
}

.navbar-custom .navbar-brand{
    padding: 0;
    margin-bottom: 0.325rem;
    margin-top: 0.325rem;
}
.logo{
    height: 5vh;
    min-height: 40px;
}