:root {
    /*Predefined variables. Palette.*/
    --color-white: #FFF;
    --color-bright-orange: #E1700E;
    --color-cyslamen: #C30E60;
    --color-kinda-black: #151515;
    --color-black: #000;
    --base-gradient: linear-gradient(265deg, #C30E60, #E1700E);
    --base-gradient-dark: linear-gradient(265deg, #9a0c4d, #c3620e);

    --fonts-base: 'Roboto', sans-serif, 'Arial', sans-serif;
    --fonts-size-nav: 1.8rem;
}

/*Smoothscroll*/
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--fonts-base);
    scroll-margin-top: 90px;
}

/*Navigation bar style*/
.navbar-custom {
    background-color: var(--color-kinda-black);
    display: block;
    z-index: 1020;
    width: 100%;
}


.navbar-custom .navbar-brand {
    padding: 0;
    margin-bottom: 0.325rem;
    margin-top: 0.325rem;
}

.logo {
    height: 5vh;
    min-height: 40px;
}

#contactModal .btn-primary {
    background-image: var(--base-gradient);
    border-color: transparent;
    border-image: var(--base-gradient);
}

#contactModal .btn-primary:hover {
    background-image: var(--base-gradient-dark);
    border-color: transparent;
    border-image: var(--base-gradient-dark);
}

/*About banner style*/
.bannerImage {
    width: 100%;
    height: 20vh;
    overflow: hidden;
    margin: 0;

    position: relative;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../res/img/kampus-iz-zraka-min-1.jpg");
}

/*Main heading style*/
.mainHeading {
    height: fit-content;
    align-content: center;
    text-align: center;
    margin-top: 3vh;
}

.mainHeading h1 {
    font-family: var(--fonts-base) !important;
    font-weight: 800 !important;


}

.underlineDivider {
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    border-color: transparent;
    border-image: var(--base-gradient);
    border-image-slice: 1;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

/*Subheading*/
.subheading {
    position: relative;
    height: fit-content;
    align-content: center;
    text-align: center;
    margin-top: 3vh;
}

.subheading h2 {
    font-family: var(--fonts-base) !important;
    color: var(--color-cyslamen);
}

.novosti h2 {
    margin-bottom: 2vh;
}

/*Content*/
.content {
    width: 70%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.cursive {
    font-family: 'Great Vibes', cursive;
}

.cursive * {
    font-family: 'Great Vibes', cursive;
}

.content p {
    font-size: 2rem;
}

.card {
    height: 100%;
}

.card-title {
    text-transform: uppercase;
}

.card-body {
    padding: 1.5rem 1.5rem;
}

.rowSpacer .row {
    margin-bottom: 1.5rem;
}

.date {
    color: var(--color-cyslamen);
}

/*Pictures*/
.gallery {
    margin-top: 3vh;
    padding: 5vh 0;
}

.gallery .accordion-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
}

.gallery .accordion-wrap .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.8s ease;
}

.gallery .accordion-wrap .item:hover {
    flex: 7;
}


.gallery .accordion-wrap .item:first-of-type {
    background-image: url('../res/img/algebra03.jpeg');
}

.gallery .accordion-wrap .item:nth-of-type(2) {
    background-image: url('../res/img/algebra01.jpeg');
}

.gallery .accordion-wrap .item:nth-of-type(3) {
    background-image: url('../res/img/algebra04.jpeg');
}

.gallery .accordion-wrap .item:nth-of-type(4) {
    background-image: url('../res/img/algebra02.jpeg');
}

.gallery .accordion-wrap .item:last-of-type {
    background-image: url('../res/img/algebra05.jpeg');
}


/*Maps*/
.location .card-title {
    font-size: 1.25rem;
}

.location .card-text {
    font-size: 1rem;
}

.location .card {
    height: max-content;
}

.location h2 {
    margin-bottom: 2vh;
}

.mapBackground {
    padding-top: 2vh;
    background-image: url("../res/img/kakoDoNas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

/*Footer*/
.footer {
    padding: 0;
    height: 610px;
    min-height: 100px;
    max-height: 30vh;
    background-image: url("../res/img/zaiskri-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.footerMotto {
    height: 100%;
    position: relative;
    width: max-content;
    margin: auto;
    align-content: center;
    padding: 2vh 0;
    vertical-align: center;
}

.footerMotto .typewriterText {
    vertical-align: middle;
    text-align: center;
}

/*Animations*/
.animation-slideFromBot {
    animation: slideFromBot 0.8s forwards;
    bottom: -300%;
}

@keyframes slideFromBot {
    100% {
        bottom: 0;
    }
}

/*Nastavni plan specific*/
.nastavniPlan {
    margin-top: auto;
    margin-bottom: auto;
}

.footRow {
    border-color: var(--color-cyslamen);
    border-top-width: 3px;
    border-top-style: solid;
}

.ui-autocomplete {
    min-height: 100px;
    height: 10vh;
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 100px;
}

/*Lightbox fix sizing*/
.lightbox-wrapper {
    max-width: 95%;
}

.lightbox-content {
    overflow: hidden;
}

.lightbox-image {
    width: 100%;
}